{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Кулпати</title>
        <link rel="shortcut icon" href="{% static 'profil/l4.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'profil/style.css' %}"/>
    </head>
<body style="overflow-x: hidden;">

<header>
    <div class="up">
        <div class="intro">
            <img class="kartinalogo" src="{% static 'profil/l4.png' %}" width="78" height="70" />
            <p>Туристическая карта Приморья</p>

        </div>

        <nav class="menu">
            <a href="page_of_winter" target="_blank">Зима</a>
            <a href="page_of_spring" target="_blank">Весна</a>
            <a href="page_of_summer" target="_blank">Лето</a>
            <a href="page_of_autmn" target="_blank">Осень</a>
        </nav>
    </div>
    <hr>
    <div class="down">
        <div class="field">
            {% if user.is_authenticated%}
                <form><button style="position:absolute;" type="button" class="button"><img src="{% static 'profil/prof.png' %}" width="35.61" height="25.71"/>Профиль</button></form>
                <form><a style="color: white !important;text-decoration: none;" href="/logout"><button  style="margin-left: 200px; display: inline-flex" type="button" class="button"><img src="{% static 'profil/box_arrow_in_right_icon.svg' %}" width="35.61" height="25.71"/>Выйти</button></a></form>
            {% else %}
                <a style="text-decoration: none" href="/accounts/login/"><button type="button" class="button"><img src="{% static 'profil/prof.png' %}" width="35.61" height="25.71"/>Войти</button></a>
            {% endif %}
        </div>
        <nav class="menuForPage">
            <a href="#mmm">Меню</a>
            <a href="#carta">Карта</a>
            <a href="#topcheck">Избранное</a>
            <a href="#rev">Отзывы</a>
        </nav>
    </div>
</header>
<div class="container_slider_css">
    {% if user.is_authenticated %}
    <img class="photo_slider_css" src="{% static 'profil/0T8AQXIFkKc.jpg' %}">
    {% endif %}
    <img class="photo_slider_css" src="{% static 'profil/sun.jpg' %}" alt="">
    <img class="photo_slider_css" src="{% static 'profil/lotos.jpg' %}" alt="">
    <img class="photo_slider_css" src="{% static 'profil/Japanese.jpg' %}" alt="">
    <img class="photo_slider_css" src="{% static 'profil/oseen.jpg' %}" alt="">
</div>
{% if user.is_authenticated %}
    <div style="position:absolute;
    font-family: Playfair Display;
    display:flex;
    justify-content:space-around;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1500px;

">
    <div style="background-color: whitesmoke;opacity: 50%;height: 150px;width: 1500px;position: absolute;border-radius: 20px;"></div>
    <span style="position: absolute;display: flex;justify-content:center;top: 0;bottom: 0;right: 0;left: 0;margin: auto;font-size: 95px;color: black">Добро пожаловать  , {{ user.username }}</span>
    </div>

{% endif %}
<div class="creatures">
    <a href="#weare">
        <p>Задайте ваши вопросы команде разработчиков!</p>
        <div class="arr arrow-bottom"></div>
    </a>
</div>


<div id="wrapper">

    <div class="sezon" id="mmm">
        <a href="page_of_winter" target="_blank">
            <div class="zima">
                <img src="{% static 'profil/zima 1.png' %}" width="275px" height="524.99px" />
                <div class="zima1">
                    <p>Зима</p>
                </div>
            </div>
        </a>
        <a href="page_of_spring" target="_blank">
            <div class="zima">
                <img src="{% static 'profil/sakura 1.png' %}" width="275px" height="524.99px" />
                <div class="zima1">
                    <p>Весна</p>
                </div>
            </div>
        </a>
        <a href="page_of_summer" target="_blank">
            <div class="zima">
                <img src="{% static 'profil/leto 1.png' %}" width="275px" height="524.99px" />
                <div class="zima1">
                    <p>Лето</p>
                </div>
            </div>
        </a>
        <a href="page_of_autumn" target="_blank">
            <div class="zima">
                <img src="{% static 'profil/osen 1.png' %}" width="275px" height="524.99px" />
                <div class="zima1">
                    <p>Осень</p>
                </div>
            </div>
        </a>
    </div>

    <div class="kratko"  id="carta">
        <div class="kratko1">
            <p>Кратко о Приморье</p>
        </div>
    </div>

    <div class="karta">
        <div class="karta1 karta2" >
            <img src="{% static 'profil/karta.png' %}" width="642px" height="649px" />
        </div>
        <div class="karta1 primor"><p>Приморский край отличается
            <br>богатой природой и особым
            <br>разнообразием ландшафта.
            <br>Здесь можно увидеть и
            <br>скалистые вершины, и
            <br> каменистые и лесистые склоны,
            <br>и горные речки с водопадами и
            <br>порогами, и спокойные
            <br>равнинные реки, и старичные и
            <br>лагунные озера, и пещеры и
            <br>болота…
            <br>
            <br>Большую часть территории
            <br>Приморского края (80 занимают
            <br>многочисленные хребты и
            <br>отдельно стоящие сопки,
            <br>остальные 20% территории
            <br>составляют низменности
            <br>(Приханкайская, Уссурийская,
            <br>Суйфунская).</p>
        </div>
    </div>

    <div class="top3" id="topcheck">
        <div class="top31">
            <p>Топ 3 места этого
                <br>сезона</p>
        </div>
    </div>


    <div class="topgalerea">
        <div class="mesta">
            <img src="{% static 'profil/dragon.png' %}" width="382px" height="652px" />
            <div class="mesta1">
                <p>Парк Драконов</p>
                <div class="ssylka">
                    <a href="" target="_blank">
                        <p>Подробнее</p>
                        <div class="arrow-1">
                            <div></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="mesta">
            <img src="{% static 'profil/pidan.png' %}" width="382px" height="652px" />
            <div class="mesta1">
                <p>Гора Пидан</p>
                <div class="ssylka2">
                    <a href="" target="_blank">
                        <p>Подробнее</p>
                        <div class="arrow-2">
                            <div></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="mesta">
            <img src="{% static 'profil/Shkota.png' %}" width="382px" height="652px" />
            <div class="mesta1">
                <p>Остров Шкота</p>
                <div class="ssylka3">
                    <a href="" target="_blank">
                        <p>Подробнее</p>
                        <div class="arrow-3">
                            <div></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="part5">
        <div class="txt1">
            Хочешь оставаться в курсе событий?
        </div>
        <div class="arrowFirst">
            <div></div>
        </div>
        <div class="wrap2">
            <div class="txt2">
                Введи свою почту и мы отправим письмо, содержащее новостную информацию
            </div>
            <div class="arrowSecond">
                <div></div>
            </div>
        </div>
        <div class="form">
            <div class="field">
                <form action="email" name="email" method="POST">
                <input type="text" name="email" id="form-text" placeholder=" ">
                <label for="form-text">Почтовый адрес</label>
            </div>
            <span style="color: greenyellow"> {{ massege }} </span>
            <div class="field">
                {% if user.is_authenticated   %}
                    {% csrf_token %}
                    <button type="submit" class="button">Подписаться</button></form>
                {% else %}
                    <a href="accounts/login" style="text-decoration: none"><button type="button" class="button">Войдите что бы подписаться</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="reviews">
        <div class="txt3" id="rev">
            Ждём ваши отзывы и предложения
        </div>
        <a href="" target="_blank">
            <p>Перейти</p>
            <div class="arrow-45">
                <div></div>
            </div>
        </a>
    </div>

    <div class="imgo">
        <img src="{% static 'profil/logo.png' %}" width="383px" height="137px" />
    </div>

    <div class="wrap3">
        <div class="icons" id="weare">
            <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100008186521310"  target="_blank"><img src="{% static 'profil/facebook_logo_icon_189262.svg' %}" width="70" height="66"></a>
            <a href="https://vk.com/kleptomaniha" target="_blank"><img src="{% static 'profil/vk-logo-black-transparent.svg' %}" width="70" height="66"></a>
            <a href="https://www.instagram.com/dzhinglbelz_1/?r=nametag"  target="_blank"><img src="{% static 'profil/instagram_logo_icon.svg' %}" width="60" height="60"></a>
            <a href="https://twitter.com/newsvlru"  target="_blank"><img src="{% static 'profil/twitter_logo_icon.svg' %}" width="70" height="66"></a>
        </div>
    </div>
    <div class="line">
        <hr>
    </div>
    <div class="under">
        <div class="copyrights">
            © 2021 Кулпати
        </div>
        <div class="contacts">
            <img src="{% static 'profil/callphone.jpg' %}" width="64" height="60">
            89146578676
        </div>
    </div>
</div>
</body>

</html>