{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'profil/l4.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'profil/style1.css' %}" />
</head>

<body style="overflow-x: hidden">
    <div class="textik">
        <a href="#upp"> Наверх </a>
    </div>
    <header>
        <div class="up" id="upp">
            <div class="intro">
                <a href="/"><img class="kartinalogo" src="{% static 'profil/l4.png' %}" width="78" height="70" /></a>
                <p>Туристическая карта Приморья</p>
            </div>
            <nav class="menu">
                <a href="page_of_winter" target="_blank">Зима</a>
                <a href="page_of_spring" target="_blank">Весна</a>
                <a href="" target="_blank">Лето</a>
                <a href="page_of_autmn" target="_blank">Осень</a>
            </nav>
        </div>
        <hr />
        {% if user.is_authenticated  %}
        <div class="field">
            <a href="/logout"><button type="button" class="button">
                <img src="{% static 'profil/prof.png'%}" width="35.61" height="25.71" />Выйти
            </button></a>
        </div>
        {% endif%}
    </header>
    <div>
                <div style="width:450px; height: 120px; position: absolute; border-radius: 30px; opacity: 50%; background-color: rgb(255, 255, 255);" class="summer"></div>
                <div class="summer">Лето</div>
                <img src="{% static 'profil/L3opAtfL6Ls.jpg' %}"  style="width:100%">
            </div>
    <div class="total">
        <div class="wrapper">
            {% for i in content_summer %}
            <div class="subject">
                <div class="container_slider_css">
                    <img class="photo_slider_css" src="{{i.image.url}}" alt="" />
                    {% if i.image1 %}
                    <img class="photo_slider_css" src="{{i.image1.url}}" alt="" />
                    {% endif %}
                    {% if i.image2 %}
                    <img class="photo_slider_css" src="{{i.image2.url}}" alt="" />
                    {% endif %}
                    {% if i.image3 %}
                    <img class="photo_slider_css" src="{{i.image3.url}}" alt="" />
                    {% endif %}
                </div>
                <div style="
              width: 720px;
              height: 120px;
              background-color: azure;
              position: absolute;
              border-radius: 30px;
              opacity: 50%;
            " class="on_photo"></div>
                <div class="on_photo">{{ i.name }}</div>
                {#<!--<img src="{% static "profil/L3opAtfL6Ls.jpg" %}" width="1000" height="500"/>-->#}
                <p>{{ i.notes}}</p>
            </div>
            <div>
                <p>{{ i.notes_nature }}</p>
            </div>
            <div>
                <p>{{ i.notes_fun}}</p>
            </div>
            <div>
                <p>{{ i.notes_ways }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="wrap3">
            <div class="imgo">
                <img src="{% static 'profil/logo.png' %}" width="383px" height="137px" />
            </div>
            <div class="icons" id="weare">
                <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100008186521310"
                    target="_blank"><img src="{% static 'profil/face.png' %}" width="70" height="66" /></a>
                <a href="https://vk.com/kleptomaniha" target="_blank"><img src="{% static 'profil/vk.png' %}" width="70"
                        height="66" /></a>
                <a href="https://www.instagram.com/dzhinglbelz_1/?r=nametag" target="_blank"><img
                        src="{% static 'profil/inst.png' %}" width="66" height="66" /></a>
                <a href="https://twitter.com/newsvlru" target="_blank"><img src="{% static 'profil/twit.png' %}"
                        width="70" height="66" /></a>
            </div>
            <div class="line">
                <hr />
            </div>
            <div class="under">
                <div class="copyrights">© 2021 Кулпати</div>
                <div class="contacts">
                    <img src="{% static 'profil/callphone.jpg' %}" width="64" height="60" />
                    89146578676
                </div>
            </div>
        </div>
    </div>
</body>

</html>