@font-face{
    font-family: Playfair Display;
    src:url(PlayfairDisplay-Regular.ttf)
}
*{
    margin: 0;
}

.subject{
    position: relative;
    text-align: center;
}

.on_photo{
    font-size: 100px;
    position: absolute;
    color: rgba(0, 0, 0, 0.747);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header hr{
    width: 100%;
    background: white;
    border: none;
    height: 1px;
}
header{
    height: 150px;
    width: 100%;
    background: rgba(174, 174, 174, 0.69);
    opacity : 1;
    z-index: 1;
    border-radius: 25px;
    font-weight: 700;
}
.up{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 100%;
    justify-content: space-between;
}
.intro p{
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    width: 350px;
}

.intro{
    width: 447px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 48px;
}
.menu{
    width: 579.7px;
    margin-right: 61.83px;
}
.menu a{
    text-decoration: none;
    font-family: Playfair Display;
    color: black;
    font-size: 20px;
    line-height: 31.99px;
}
.menu a:nth-child(2){
    padding-left: 105.22px;
}
.menu a:nth-child(3){
    padding-left: 97.22px;
}
.menu a:last-child{
    padding-left: 109.22px;
}
header .button{
    font-family: Playfair Display;
    font-size: 16px;
    width: 125px;
    height: 40px;
    background: #FBFF00;
    margin-left: 50px;
    color: #3D008B;
    border-radius: 23px;
    border: none;
    display: flex;
    align-items: center;
}
header button:active{
    transform: scale(1.1);
}
.field{
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 17px;
}
.textik{
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 5;
}
.textik a{
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
}
.wrapper{
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.wrapper h1{
    font-family: Playfair Display;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #000000;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.wrapper p{
    font-family: Playfair Display;
    margin-left: 25px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: justify;
}
.wrap3{
    display: flex;
    align-items: center;
    width: 1200px;
    flex-direction: column;
    margin-top: 100px;
}
.imgo{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.icons{
    margin-top: 100px;
    height: 66px;
    display: flex;
    align-items: center;
    width: 547px;
    justify-content: space-between;
}
.line hr{
    width: 1200px;
    border: none;
    height: 0.7px;
    background: #000;
    margin-top: 100px;
}
.under{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #4E0484;
    align-items: center;
}
.contacts{
    height: 60px;
    display: flex;
    align-items: center;
    width: 275px;
    justify-content: space-between;
    height: 100px;
}
.tabs {
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }


  .tabs {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>input[type="radio"]:checked+label {
    cursor: default;
    color: #7b8f9c;
  }

  .tabs>div {
    display: none;
    padding-top: 74px;
  }

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3,
  #tab-btn-4:checked~#content-4 {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;
  }

  .tabs>label {
    display: inline-block;
    padding: 2px 0;
    font-size: 22px;
    transition: color 0.15s ease-in-out;
    margin-left: 169px;
    cursor: pointer;
    color: #4B0082;
  }

  .tabs>label:first-of-type {
    margin-left: 0;
  }
  /*.tabs>div img{
    margin-left: -500px;
    margin-top: -100px;
  }*/

.container_slider_css{width:1000px; height: 20vw; position: relative ; overflow: hidden ; z-index: 0;}
.photo_slider_css{width: 100%;position: absolute;animation:round 24s infinite;opacity:0; display: block}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:18s}
img:nth-child(2){animation-delay:12s}
img:nth-child(3){animation-delay:6s}
img:nth-child(4){animation-delay:0s}

.summer{
    font-size: 140px;
    position: absolute;
    color: rgb(251, 255, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
